<%= form_for([@post,@post.comment.build]) do |form| %>

  <div class="card text-white bg-dark mb-3" style="max-width: 32rem;">
	    <% Comment.where(post_id:@post.id).each do |comment| %>
			<p class="card-text">
			<%= [User.find(comment.user_id).name, User.find(comment.user_id).lastname,": ",comment.text].reject(&:blank?).join(' ') %>
			</p>
			<% end %>
			<div><strong>New comment:</strong></div>
			<%= form.text_area :text, placeholder:"Write your comment here", class:"form-control", rows:3%>
			<button>comment</button>
	  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
