
<html lang="en">
  <link rel="stylesheet" type="text/css" href="MainPageCss.css">
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="MainPageCss.css">
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
	<img class="logo"></img>
  <div class="container">
    <div class="subcontainer">
      <div class="tab selected">My Wall</div>
      <div class="tab" onclick="location.href = '../users/2'">Profile</div>
      <div class="upcontainer">
        <div class="search row">
          <input class="search input"></input>
          <button class="search button">Search in Groucher!</button>
        </div>
	<h1>My Wall:</h1>
	<p><%= link_to 'Posts', posts_path %></p>
	<p><%= link_to 'Comments', comments_path %></p>
	<p><%= link_to 'Likes', liked_posts_path %></p>


      </div>
    </div>
  </div>
</html>
