<link href="/assets/NewPostPageCss.css" media="print" rel="stylesheet" />
<html lang="en">
	<img class="logo"></img>
	<div class="container">


	<h1>Editing User</h1>

	<%= render 'form', user: @user %>

	<%= link_to 'Back', user_path %>
	</div>
