<div class="container">
	<div>
		<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
		<div class="input-group">
		<div class="input-group-prepend">
		</div>
		<input type="text" class="form-control" placeholder="Search In Groucher" aria-label="Input group example" aria-describedby="btnGroupAddon">
		</div>
		<div class="btn-group mr-2" role="group" aria-label="First group">
		<button type="button" class="btn btn-secondary">Go</button>
		</div>
		  <br>
	<img class="logo2" onclick="location.href ='../users'"></img>
	<div class="welcomeMsg lets">Let's</div>
	<div class="welcomeMsg grouch">grouch!</div>
</div>
