<%= form_for([@post,@post.tags.build]) do |form| %>


  <div class="actions">
    <%= form.collection_select(:user_id, User.all, :id, :name) %>
    <input type="submit" value="Share!">
  </div>
<% end %>
