<html lang="en">
  <link rel="stylesheet" type="text/css" href="LoginPageCss.css">
  <div class="containerL">
      <div class="subcontainerL">
          <input class="user input L" type=text placeholder="User..."></input>
          <input class="password input L" type=password placeholder="Password..."></input>
          <button class="login button L" onclick="location.href ='/home/index'">GO!</button>
  <button class="iForgotL" onclick="location.href = 'https://www.youtube.com/watch?v=dQw4w9WgXcQ'">I forgot my password!</button>
  <button class="register button L" onclick="location.href = '../users/new'">Sign In</button>
      </div>
  <div class="login text L"> LOGIN </div>
  </div>
</html>
