.container
{
  position:absolute;
  width:100vw;
  height:100vw;
  background:linear-gradient(110deg, #11a316 60%, #0b8c0f 60%);
}
.subcontainer
{
  width:69vw;
  height:50vw;
  margin-left:15.5vw;
  margin-top:4vw;
  float:left;
  opacity:0.95;
}
.tab
{
  border-radius:3vw;
  cursor:pointer;
  color:white;
  font-size:2vw;
  text-align:center;
  font-weight:bold;
  font-family:arial;
  background-color:black;
  width:23vw;
  height:3vw;
  float:left;
  border-radius:3vw 3vw 0vw 0vw;
}
.selected
{
  background-color:#555D52;
}
.upcontainer
{
  background-color:#555D52;
  height:40vw;
  width:69vw;
  float:left;
  border-radius:0vw 0vw 3vw 3vw;
}
.logo
{
  content:url(https://i.ibb.co/1TL4dSB/output-onlinepngtools.png);
  height:20vw;
  width:20vw;
  position:absolute;
  margin-top:15vw;
  margin-left:40vw;
  
}
.search.input
{
  margin-left:17vw;
  height:2vw;
  width:25vw;
  
}
.search.button
{
  position:absolute;
  height:2vw;
  width:12vw;
  border:none;
  outline:none;
  cursor:pointer;
  font-size:1vw;
  font-weight:bold;
}
.search.row
{
  margin-top:1.5vw;
  height:2vw;
}