/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 .small-logo
 {
   content:url(https://i.ibb.co/1TL4dSB/output-onlinepngtools.png);
   height:50px;
   width:50px;
 }
 .navbar-brand:hover>.small-logo
 {
   -webkit-box-shadow: 0px 0px 15px 9px rgba(255,0,0,0.97);
 -moz-box-shadow: 0px 0px 15px 9px rgba(255,0,0,0.97);
 box-shadow: 0px 0px 15px 9px rgba(255,0,0,0.97);
 }
 .logoutLink
 {
   all:unset;
   font-size: 15px;
   color:gray;
 }
 .logoutLink:hover
 {
   all:unset;
   font-size: 15px;
   color:white;
 }
 .logout:visited
 {
   all:unset;
   font-size: 15px;
   color:gray;
 }
 .Like
 {
   float:right;
   border-radius:100%;
   border:none
 }
 .Like:hover
 {
   background-color:green
 }
 .Dislike
 {
   float:right;
   border-radius:100%;
   border:none
 }
 .Dislike:hover
 {
   background-color:red
 }
