.small-logo
{
  content:url(https://i.ibb.co/1TL4dSB/output-onlinepngtools.png);
  height:50px;
  width:50px;
}
.navbar-brand:hover>.small-logo
{
  -webkit-box-shadow: 0px 0px 17px 9px rgba(255,0,0,0.97);
-moz-box-shadow: 0px 0px 17px 9px rgba(255,0,0,0.97);
box-shadow: 0px 0px 17px 9px rgba(255,0,0,0.97);
}
