.logo
{
  content:url(https://i.ibb.co/1TL4dSB/output-onlinepngtools.png);
  height:20vw;
  width:20vw;
  position:absolute;
  margin-top:20vw;
  margin-left:50vw;
}
{
  content:url(https://i.ibb.co/1TL4dSB/output-onlinepngtools.png);
  height:20vw;
  width:20vw;
  position:absolute;
  margin-top:15vw;
  margin-left:40vw;
}
